In [1]:
from oop_financial_statements import TickerFinancials

In [3]:
aapl_ticker = TickerFinancials('aapl')

In [4]:
aapl_ticker.annual_balance_sheet

Empty DataFrame
Columns: []
Index: []

In [5]:
import yfinance as yf

In [7]:
yf.Ticker('nvda').balance_sheet

Empty DataFrame
Columns: []
Index: []